@charset "utf-8";
/* CSS Document */

.margin{width:980px;margin:0 auto;}

#header{background: #f3f3f3;height: 30px;display: flex;align-items: center;}
#header span.huan{font:12px/30px "";color:#666666;}

#header a.aaa{font:12px/30px "";color:#666666;margin-left: 38px;}
#header a{font:12px/30px "";color:#666666;}
#header s{color:#666666;margin:0 5px;}
#header .t1{margin-left: 22px;}
#header .t2{margin-left: 16px;}
#header .t3{margin-left: 18px;}
#header .t4{margin-left: 124px;}
#header .shop{font: 12px/16px "";display: inline-block;width: 120px;height: 18px;background: white;border:1px solid #cccccc;margin-left: 18px;vertical-align: middle;}
#header .shop .suo{margin-left: 6px;}
#header .shop span{margin-left: 16px;color:#666666;margin-top:20px;font: 12px/12px "";}
#header .shop .dao{margin-left: 6px;}
#header i{font:12px/30px "";color:#666666;margin-left: 12px;}
#header i img{margin-left:6px;}
#header h2{display:inline-block;}
/*#header h2.not-login{display:none;}*/
#header h2.login-success{display: none;}
#header h2.login-success .logout{background: #aaa;}

#logo{height:90px;}
#logo img{margin-left: 8px;margin-top:24px;float:left;}
#logo form{float: left;margin-top:18px;margin-left: 380px;}
#logo form .txt{width: 256px;height:28px;border:1px solid #666666;float: left;}
#logo form .sub{width:80px;height:30px;background: #464646;border: azure;float: left;color: white;cursor: pointer;}
#logo form p{font:12px/3 "";color:#999999;}
#logo .qq{width:80px;height:142px;position: fixed;left:1260px;top:188px;border:1px solid #d8d8d8}
#logo .qq span{float: left;color:white;margin-left:5px;}
#logo .qq .off{float: left;margin-top: 0px;margin-left:8px;}
#logo .qq .s{background: #888888;width:80px;height:18px;}
#logo .qq p{width:80px;height:24px;border-bottom: 1px solid #d8d8d8;text-align:center;font:12px/24px "";font-weight: 700;color:#666666;}
#logo .qq .qiye{margin-top: 8px;margin-left: 3px;float: left;}
#logo .qq a{margin-top: 7px;margin-left:3px;float: left;}
#logo .qq .qiye1{margin-top: 8px;margin-left: -19px;float: left;}
#logo .qq b{margin-top: 7px;margin-left:3px;float: left;color:#666666;}
#logo .qq .qiye2{margin-top: 8px;margin-left: -20px;float: left;}
#logo .qq s{margin-top: 7px;margin-left:3px;float: left;}
#logo .qq .aa{position: absolute;left:24px;top:86px;}
#logo .qq .bb{position: absolute;left:22px;top:64px;}
#logo .qq .qiye3{margin-top: 8px;margin-left: -20px;float: left;}
#logo .qq i{margin-top: 7px;margin-left:3px;float: left;color:#666666;}
#logo .qq .cc{position: absolute;left:24px;top:108px;}


#nav{height:476px;}
#nav ul{background: #9a2438;}
#nav ul li{float: left;background: #9a2438;height:34px;color:white;border-right: 1px solid #af5465;}
#nav ul li.first1{background: #600e0e;}

#nav ul li a{padding: 23.7px;font: 16px/34px "";color:white;font-weight: 600;}
#nav ul li.te1{background: #464646;font: 16px/34px "";color:white;height:34px;display: inline-block;border-right: 1px solid white;}
#nav .guangbo{background: #ededed;height: 58px;width: 980px;}
#nav .guangbo img{left:205px;top:163px;position: absolute;}
#nav .guangbo span{margin-left:42px;font:12px/28px "";color:#666666;}

#nav .box{width:980x;position: relative;height: 405px;margin: 10px auto;overflow: hidden;}
#nav .box img{width: 980px;height:405px;position: absolute;left: 980px;top:0;}
#nav .box img:nth-child(1){left:0}
#nav .box ul.list li{width:28px;height:16px;border-radius: 8px;margin-right: 5px;}
#nav ul li .a1{display:none;width:413px;height:200px;background: white;position: absolute;left:264px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a1 .left{width:136px;height: 152px;border-right:1px solid #e0e0e0;margin-top:20px;float: left;}
#nav ul li .a1 .left p{color:#666666;text-align: center;font:14px/30px "";}
#nav ul li .a1 .right{width:128px;height: 152px;margin-top:20px;float: left;}
#nav ul li .a1 .right p{color:#666666;font:14px/30px "";margin-left: 30px;}
#nav ul li .a1 .right h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;}
#nav ul li .a1 .right img{width:56px;height:30px;margin-left: 37px;}

#nav ul li .a2{display:none;width:413px;height:200px;background: white;position: absolute;left:344px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a2 .left{width:136px;height: 152px;border-right:1px solid #e0e0e0;margin-top:20px;float: left;}
#nav ul li .a2 .left p{color:#666666;text-align: center;font:14px/30px "";}
#nav ul li .a2 .right{width:128px;height: 152px;margin-top:20px;float: left;}
#nav ul li .a2 .right p{color:#666666;font:14px/30px "";margin-left: 30px;}
#nav ul li .a2 .right h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;}
#nav ul li .a2 .right img{width:56px;height:30px;margin-left: 37px;}

#nav ul li .a3{display:none;width:413px;height:200px;background: white;position: absolute;left:425px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a3 .left{width:136px;height: 152px;border-right:1px solid #e0e0e0;margin-top:20px;float: left;}
#nav ul li .a3 .left p{color:#666666;text-align: center;font:14px/30px "";}
#nav ul li .a3 .right{width:128px;height: 152px;margin-top:20px;float: left;}
#nav ul li .a3 .right p{color:#666666;font:14px/30px "";margin-left: 30px;}
#nav ul li .a3 .right h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;}
#nav ul li .a3 .right img{width:56px;height:30px;margin-left: 37px;}

#nav ul li .a4{display:none;width:413px;height:200px;background: white;position: absolute;left:505px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a4 .left{width:136px;height: 152px;border-right:1px solid #e0e0e0;margin-top:20px;float: left;}
#nav ul li .a4 .left p{color:#666666;text-align: center;font:14px/30px "";}
#nav ul li .a4 .right{width:128px;height: 152px;margin-top:20px;float: left;}
#nav ul li .a4 .right p{color:#666666;font:14px/30px "";margin-left: 30px;}
#nav ul li .a4 .right h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;}
#nav ul li .a4 .right img{width:56px;height:30px;margin-left: 37px;}

#nav ul li .a5{display:none;width:413px;height:200px;background: white;position: absolute;left:586px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a5 img{width:56px;height:30px;margin-left: 37px;margin-top:4px;}
#nav ul li .a5  p{color:#666666;font:14px/22px "";margin-left: 30px;}
#nav ul li .a5  h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;margin-top:20px;}
#nav ul li .a5  h3.te{margin-top:6px;}

#nav ul li .a6{display:none;width:413px;height:200px;background: white;position: absolute;left:698px;top:154px;z-index: 10;border:1px solid #9a2438;}
#nav ul li .a6 img{width:56px;height:30px;margin-left: 37px;margin-top:4px;}
#nav ul li .a6  p{color:#666666;font:14px/22px "";margin-left: 30px;}
#nav ul li .a6  h3{color:black;font-size: 14px;line-height: 30px;margin-left: 30px;margin-top:20px;}
#nav ul li .a6  h3.te{margin-top:6px;}




#pt1{height:430px;border:1px solid #ededed;margin-top: 20px;}
#pt1 .l{height:430px;width:199px;float:left;}
#pt1 .r{float: left;height:430px;width:781px;}
#pt1 .r .r1{background: #ededed;height:30px;width:781px;}
#pt1 .r .r1 span{color:#666666;font:14px/30px "";font-weight: 600;margin-left:16px;}
#pt1 .r .r1 i{color:#666666;font:12px/30px "";margin-left: 657px;}
#pt1 .r .r2{height:400px;width:778px;}
#pt1 .r .r2 li{float:left;width:190px;height:198px;margin-left: 3px;margin-top: 10px;}
#pt1 .r .r2 li .goods-img{width:160px;height:140px;}
#pt1 .r .r2 li img{width:160px;height:140px;}
#pt1 .r .r2 li .title{display: block;}
#pt1 .r .r2 li span{color:red;font-weight: 600;}

#pt1 #cont{width: 780px;margin: 10px auto;overflow: hidden;}
#pt1 #cont .box{width:195px;height:198px;float: left;box-sizing: border-box;text-align: center;}
#pt1 #cont .box img{width:120px;height:100px;}
#pt1 #cont .box p{line-height: 10px;height: 14px;overflow: hidden;margin: 10px 0;}
#pt1 #cont .box span{display: block;}
#pt1 #cont .box em{width: 100px;height: 30px;line-height: 30px;display: block;margin: 10px auto;font-size:14px;color: #fff;background:#88f;border-radius: 6px;}

#pt1 #cont2{width: 780px;margin: 10px auto;overflow: hidden;}
#pt1 #cont2 .box{width:195px;height:198px;float: left;box-sizing: border-box;text-align: center;}
#pt1 #cont2 .box img{width:120px;height:100px;}
#pt1 #cont2 .box p{line-height: 10px;height: 14px;overflow: hidden;margin: 10px 0;}
#pt1 #cont2 .box span{display: block;}
#pt1 #cont2 .box em{width: 100px;height: 30px;line-height: 30px;display: block;margin: 10px auto;font-size:14px;color: #fff;background:#88f;border-radius: 6px;}

#pt1 #cont3{width: 780px;margin: 10px auto;overflow: hidden;}
#pt1 #cont3 .box{width:195px;height:198px;float: left;box-sizing: border-box;text-align: center;}
#pt1 #cont3 .box img{width:120px;height:100px;}
#pt1 #cont3 .box p{line-height: 10px;height: 14px;overflow: hidden;margin: 10px 0;}
#pt1 #cont3 .box span{display: block;}
#pt1 #cont3 .box em{width: 100px;height: 30px;line-height: 30px;display: block;margin: 10px auto;font-size:14px;color: #fff;background:#88f;border-radius: 6px;}

#pt1 #cont4{width: 780px;margin: 10px auto;overflow: hidden;}
#pt1 #cont4 .box{width:195px;height:198px;float: left;box-sizing: border-box;text-align: center;}
#pt1 #cont4 .box img{width:120px;height:100px;}
#pt1 #cont4 .box p{line-height: 10px;height: 14px;overflow: hidden;margin: 10px 0;}
#pt1 #cont4 .box span{display: block;}
#pt1 #cont4 .box em{width: 100px;height: 30px;line-height: 30px;display: block;margin: 10px auto;font-size:14px;color: #fff;background:#88f;border-radius: 6px;}

#luozuan{height: 200px;margin-top: 10px;}
#luozuan .l{width:670px;height: 200px;float: left;}
#luozuan .r{width:300px;height:200px;float: left;margin-left: 8px;border:1px solid #ededed;}
#luozuan .r .r1{width: 300px;height: 24px;background: #ededed;}
#luozuan .r .r1 span{font:12px/24px "";font-weight: 600;color:#666666;margin-left: 20px;}
#luozuan .r .r2{width: 300px;height: 174px;}
#luozuan .r .r2 p{color:#666666;font:12px/24px "";margin-left: 15px;}
#luozuan .f1{width: 40px;height: 40px;position: fixed;left:70px;top:220px;background: #ededed;opacity: 0.7;cursor: pointer;}
#luozuan .f2{width: 40px;height: 40px;position: fixed;left:70px;top:265px;background: #ededed;opacity: 0.7;cursor: pointer;}
#luozuan .f3{width: 40px;height: 40px;position: fixed;left:70px;top:310px;background: #ededed;opacity: 0.7;cursor: pointer;}
#luozuan .f4{width: 40px;height: 40px;position: fixed;left:70px;top:355px;background: #ededed;opacity: 0.7;cursor: pointer;}
#luozuan h4{text-align: center;font:12px/18px "";color: #666666;font-weight: 600;opacity: 0.6;}
#luozuan .f1:hover{background: red;opacity: 0.7;}
#luozuan .f2:hover{background: red;opacity: 0.7;}
#luozuan .f3:hover{background: red;opacity: 0.7;}
#luozuan .f4:hover{background: red;opacity: 0.7;}

#xianshi{height:122px;margin-top: 18px;;}
#xianshi .x2{margin:0 12px;}

#news{height:138px;width:978px;background: #ededed;margin-top: 15px;border:1px solid #d4d4d4;}
#news h2{font: 14px/30px "";font-weight: 700;margin-left: 10px;}
#news p{font: 12px/22px "";color:#666666;}
#news .first{width:168px;height:25px;border-top:1px solid #d4d4d4;}
#news div.te{margin-left: 21px;float: left;}
#news .last{width:980px;height:30px;}

#jieshao .margin{height:38px;background: #333333;}
#jieshao span{color:white;font:12px/38px "";padding:0 6px;}
#jieshao span.first{margin-left:222px;}

#footer{height:188px;}
#footer span{font:16px/66px "";color:#990000;margin-left:12px;}
#footer img{margin-top:-6px;}
#footer .r1{margin-left:103px;}
#footer .r2{margin-left:64px;}
#footer .r3{margin-left:45px;}
#footer .r4{margin-left:72px;}
#footer p{text-align: center;font:12px/26px "";}
#footer .a{margin-left: 200px;margin-top:6px;}
#footer .b{margin-left: 5px;margin-top:6px;}
#footer .c{margin-left: 5px;margin-top:6px;}
#footer .d{margin-left: 5px;margin-top:6px;}
#footer .e{margin-left: 5px;margin-top:20px;}
#footer .dibu{position: fixed;right:10px;bottom:10px;width:60px;height: :60px;display: none;}


#register{height:480px;margin-top: 6px;}
#register .zhuce{background: #ededed;height:36px;}
#register .zhuce span{font:16px/36px "";font-weight: 600;margin-left:22px;}
#register .zhuce .i{font:12px/36px "";margin-left:652px;color:#333333;}
#register form{margin-left: 186px;margin-top:22px;}
#register form.q{margin-left: 360px;margin-top:70px;}
#register span{font:12px/28px "";}
#register input#user{width:190px;height: 30px;margin-bottom: 10px;}
#register input#p1{width:190px;height: 30px;margin-bottom: 10px;}
#register input.p2{width:190px;height: 30px;margin-bottom: 10px;}
#register input#btn{cursor:pointer;width: 164px;height:32px;background: #a23449;border-radius: 5px;border:0;margin-left:62px;margin-top:6px;}

#register .xinxi{width:600px;height: 150px;margin-top:25px;background: #f8f8f8;overflow: scroll;margin-left: 200px;}
#register .xinxi h2{margin-bottom: 5px;color:#666666;margin-left:15px;font-size: 12px;}
#register .xinxi p{color: #888888;font:12px/20px "";margin-left:15px;}
#register .banner-1{float: left;margin-top: 5px;}
#register .login{margin: 130px 0 0 600px;}


#buy{height:480px;margin-top: 6px;}
#buy .info{background: #ededed;height:36px;}
#buy .info span{font:14px/36px "";margin-left:22px;}
#buy .s_box{width: 400px;height: 300px;position: absolute;left: 186px;top: 227px;}
#buy .s_box img{width: 400px;height: 300px;}
#buy .s_box span{width: 100px;height: 75px;position: absolute;left: 0;top: 0;background:url(https://img3.csmall.com/product/2017/04/product/200_200/54c6596013e18.jpg);background-size: 400px 300px;display: none;}
#buy .b_box{width: 400px;height: 300px;position: absolute;left: 600px;top: 227px;overflow: hidden;display: none;z-index: 20;}
#buy .b_box img{width: 1600px;height: 1200px;position: absolute;}
#buy .xiaotu{position:absolute;top:530px;width:90px;height:90px;border:1px solid #002752;}
#buy .xiaotu img{width:90px;height:90px;}
#buy .l{width:524px;height:400px;position:absolute;left:640px;}
#buy .l p{font:16px/36px "";font-weight: 600;}
#buy .l .l1{width:524px;height: 50px;background: #ededed;}
#buy .l .l1 span{font:12px/50px "";margin-left: 20px;color:#B6B6B6}
#buy .l .l1 a{font:28px/50px "";color:red;font-weight: 600;margin-left: 40px;}
#buy .l .l1 b{margin-left: 200px;color:#B6B6B6}
#buy .l i{color:#686868;margin-top:50px;}
#buy .l s{font-size:14px;width:36px;height:22px;display:inline-block;border:1px solid red;margin-top:50px;margin-left:20px;text-align: center;}
#buy .l .num{margin-top:20px;}
#buy .l .num input{width:39px;margin-left:32px;}
#buy .l .num span{color:#686868;}
#buy .l h2{display:inline-block;width:140px;height:30px;border:2px solid red;margin-top:30px;text-align: center;margin-right: 50px;;}
#buy .l h2.f1{color:orangered;font-weight: 100;}
#buy .l h2.f2{background: red;color:white;font-weight: 100;}
#buy .l h3 span{color:#686868;}
#buy .l h3{font-weight: 100;font-size:12px;margin-top: 20px;}

.tab img{width:50px;}
   .tab span{width: 60px;height:40px;line-height: 40px;background: #99f;color: #fff;display: block;text-align: center;cursor: pointer;}